.vis-timeline .vis-group.tolkien {
  background-color: hsl(106, 36%, 95%);
}

.vis-timeline .vis-label.tolkien {
  background-color: hsl(106, 36%, 95%);
}

.vis-timeline .vis-label.lewis {
  background-color: hsl(47, 100%, 96%);
}

.vis-timeline .vis-group.lewis {
  background-color: hsl(47, 100%, 96%);
}

.vis-timeline .vis-label.inklings {
  background-color: hsl(236, 63%, 96%);
}

.vis-timeline .vis-group.inklings {
  background-color: hsl(236, 63%, 96%);
}

.vis-timeline .vis-label {
  border: none;
  border-bottom: 1px solid #bfbfbf;
}

.vis-background .vis-group {
  position: relative !important;
}

.vis-item.sticky-label {
  background-color: transparent;
  border: none !important;
}

.vis-item.vis-background.bottom-half {
  height: 50% !important;
  top: auto !important;
  bottom: 0 !important;
}

.vis-item.vis-background.top-half {
  height: 50% !important;
  top: 0 !important;
}

.visibility-toggles {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 15px;
}

.group-list,
.subgroup-list {
  list-style: none;
}

.group-list {
  margin: 10px 0 0 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;

  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.group-list.hidden {
  max-height: 0;
}

.group-list:not(.hidden) {
  max-height: 500px;
}

.group-list-item.top-level {
  font-size: 1.25rem;
  font-weight: 600;
}

.group-list-item.subgroup {
  font-size: 1rem;
  font-weight: normal;
}

.subgroup-list {
  margin: 5px 0 0 0;
  padding: 0 0 0 15px;
  border-left: 2px solid #cccccc;
}

.parent-toggled-off {
  color: #696969;
}

.out-of-range {
  color: #cccccc;
}

.collapse-toggles {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.collapse-toggles::before {
  content: "▶";
  display: inline-block;
  width: 1em;

  transition: transform 0.25s ease-in-out;
  transform-origin: 50% 50%;
}

.collapse-toggles[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.collapse-toggles[aria-expanded="false"]::before {
  transform: rotate(0deg);
  transition-delay: 0.05s;
}
